<div class="form-group row">
    <label class="col-2 col-form-label">{{data.titulo}}</label>
    <div class="col-8">
        <input class="form-control" 
        type="text" 
        placeholder="{{data.placeholder}}"
        [formControl]="form.get(data.nombre)"
        [class.is-invalid]="validadores.noValido(form, data.nombre)"
        >
        <small *ngIf="validadores.noValido(form, data.nombre)" class="text-danger">
            Ingrese {{data.validaciones.minimo}} letras
        </small>
    </div>
</div>